<div class="container mx-auto mt-4">
  <h2 class="text-center text-2xl font-bold mb-4">Employees-data-table</h2>
  <div class="w-full flex justify-between items-center">
    <div>
      <input
        type="text"
        (keyup)="handleGlobalSearch($event)"
        [value]="searchTerm()"
        placeholder="Search users..."
        class="border rounded-lg p-2 shadow-lg focus:outline-none focus:ring-2 focus:ring-blue-500 transition duration-300 ease-in-out transform hover:scale-105"
      />
    </div>
    <!-- Dropdown for selecting items per page -->
    <div class="mb-4 mt-4">
      <!-- Added mt-4 for margin-top -->
      <label for="itemsPerPage()" class="mr-2">Items per page:</label>
      <select
        id="itemsPerPage()"
        (change)="updateItemsPerPage($event)"
        class="border rounded-lg p-2 shadow-lg focus:outline-none focus:ring-2 focus:ring-blue-500 transition duration-300 ease-in-out transform hover:scale-105"
        [value]="itemsPerPage()"
      >
        <option *ngFor="let option of itemsOptions" [value]="option">
          {{ option }}
        </option>
      </select>
    </div>
    <div>
      <button
        (click)="openModal()"
        class="bg-blue-500 text-white font-bold py-2 px-4 rounded shadow-lg hover:bg-blue-600 transition duration-300"
      >
        Add New Employee
      </button>
    </div>
  </div>

  <div class="sort-controls">
    <select [value]="sortColumn()">
      <option *ngFor="let header of tableHeaders" [value]="header">
        {{ header }}
      </option>
    </select>

    <select [value]="sortDirection()">
      <option value="asc">Asc</option>
      <option value="desc">Desc</option>
    </select>

    <button (click)="sortTable()">Sort</button>
  </div>

  <table class="min-w-full bg-white border border-gray-300">
    <thead class="bg-gray-800 text-white">
      <tr>
        <th
          (click)="sortBy('id')"
          class="w-max cursor-pointer py-2 px-4 border-b"
        >
          ID
        </th>
        <th
          (click)="sortBy('firstName')"
          class="w-max cursor-pointer py-2 px-4 border-b"
        >
          First Name
        </th>
        <th
          (click)="sortBy('lastName')"
          class="w-max cursor-pointer py-2 px-4 border-b"
        >
          Last Name
        </th>
        <th
          (click)="sortBy('age')"
          class="w-max cursor-pointer py-2 px-4 border-b"
        >
          Age
        </th>
        <th
          (click)="sortBy('dob')"
          class="w-max cursor-pointer py-2 px-4 border-b"
        >
          DOB
        </th>
        <th
          (click)="sortBy('email')"
          class="w-max cursor-pointer py-2 px-4 border-b"
        >
          Email
        </th>
        <th
          (click)="sortBy('salary')"
          class="w-max cursor-pointer py-2 px-4 border-b"
        >
          Salary
        </th>
        <th
          (click)="sortBy('address')"
          class="w-max cursor-pointer py-2 px-4 border-b"
        >
          Address
        </th>
        <th
          (click)="sortBy('contactNumber')"
          class="w-max cursor-pointer py-2 px-4 border-b"
        >
          Contact Number
        </th>
        <th
          class="w-max py-2 px-4 border-b cursor-pointer"
          (click)="sortBy('image')"
        >
          Image
        </th>
        <th class="w-max py-2 px-4 border-b">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of paginatedUsers()" class="hover:bg-gray-100">
        <td class="py-2 px-4 border-b w-fit">{{ user.id }}</td>
        <td class="py-2 px-4 border-b truncate max-w-xs">
          {{ user.firstName }}
        </td>
        <td class="py-2 px-4 border-b truncate max-w-xs">
          {{ user.lastName }}
        </td>
        <td class="py-2 px-4 border-b">{{ user.age }}</td>
        <td class="py-2 px-4 border-b">{{ user.dob }}</td>
        <td class="py-2 px-4 border-b truncate max-w-xs">{{ user.email }}</td>
        <td class="py-2 px-4 border-b">{{ user.salary | currency }}</td>
        <td class="py-2 px-4 border-b truncate max-w-xs">{{ user.address }}</td>
        <td class="py-2 px-4 border-b">{{ user.contactNumber }}</td>
        <td class="py-2 px-4 border-b w-24">
          <img
            [src]="user.imageUrl"
            alt="{{ user.firstName }}"
            class="rounded-full w-20 h-20 flex justify-center items-center"
          />
        </td>
        <td class="py-2 px-4 border-b">
          <button
            (click)="deleteUser(user)"
            aria-label="Delete user"
            class="hover:fill-red-500"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              x="0px"
              y="0px"
              width="30"
              height="30"
              viewBox="0 0 30 30"
            >
              <path
                d="M 13 3 A 1.0001 1.0001 0 0 0 11.986328 4 L 6 4 A 1.0001 1.0001 0 1 0 6 6 L 24 6 A 1.0001 1.0001 0 1 0 24 4 L 18.013672 4 A 1.0001 1.0001 0 0 0 17 3 L 13 3 z M 6 8 L 6 24 C 6 25.105 6.895 26 8 26 L 22 26 C 23.105 26 24 25.105 24 24 L 24 8 L 6 8 z"
              ></path>
            </svg>
            <!-- Font Awesome recycle bin icon -->
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- Pagination Controls -->
  <nav aria-label="Page navigation" class="mt-4">
    <ul class="flex justify-center space-x-2">
      <li [class.disabled]="currentPage() === 1">
        <button
          (click)="changePage(currentPage() - 1)"
          class="px-4 py-2 bg-gray-300 text-gray-700 rounded hover:bg-gray-400"
          [disabled]="currentPage() === 1"
        >
          &laquo; Previous
        </button>
      </li>
      <li *ngFor="let page of [].constructor(totalPages()); let i = index">
        <button
          (click)="changePage(i + 1)"
          class="px-4 py-2 rounded"
          [class.bg-blue-500]="currentPage() === i + 1"
          [class.text-white]="currentPage() === i + 1"
          [class.bg-gray-300]="currentPage() !== i + 1"
        >
          {{ i + 1 }}
        </button>
      </li>
      <li [class.disabled]="currentPage() === totalPages()">
        <button
          (click)="changePage(currentPage() + 1)"
          class="px-4 py-2 bg-gray-300 text-gray-700 rounded hover:bg-gray-400"
          [disabled]="currentPage() === totalPages()"
        >
          Next &raquo;
        </button>
      </li>
    </ul>
  </nav>
</div>

<div
  *ngIf="isModalOpen"
  class="fixed inset-0 bg-gray-800 bg-opacity-50 flex justify-center items-center"
>
  <div
    class="bg-white rounded-lg p-6 w-11/12 max-w-md max-h-[90vh] overflow-auto"
  >
    <!-- Updated classes -->
    <h2 class="text-lg font-bold mb-4">Add New Employee</h2>
    <form [formGroup]="userForm" (ngSubmit)="submitForm()">
      <div class="mb-4">
        <label for="id" class="block text-sm font-medium">ID</label>
        <input
          type="number"
          id="id"
          formControlName="id"
          class="border rounded-lg p-2 w-full"
          required
        />
      </div>
      <div class="mb-4">
        <label for="firstName" class="block text-sm font-medium"
          >First Name</label
        >
        <input
          type="text"
          id="firstName"
          formControlName="firstName"
          class="border rounded-lg p-2 w-full"
          required
        />
      </div>
      <div class="mb-4">
        <label for="lastName" class="block text-sm font-medium"
          >Last Name</label
        >
        <input
          type="text"
          id="lastName"
          formControlName="lastName"
          class="border rounded-lg p-2 w-full"
          required
        />
      </div>
      <div class="mb-4">
        <label for="age" class="block text-sm font-medium">Age</label>
        <input
          type="number"
          id="age"
          formControlName="age"
          class="border rounded-lg p-2 w-full"
          required
        />
      </div>
      <div class="mb-4">
        <label for="dob" class="block text-sm font-medium">DOB</label>
        <input
          type="date"
          id="dob"
          formControlName="dob"
          class="border rounded-lg p-2 w-full"
          required
        />
      </div>
      <div class="mb-4">
        <label for="email" class="block text-sm font-medium">Email</label>
        <input
          type="email"
          id="email"
          formControlName="email"
          class="border rounded-lg p-2 w-full"
          required
        />
      </div>
      <div class="mb-4">
        <label for="salary" class="block text-sm font-medium">Salary</label>
        <input
          type="number"
          id="salary"
          class="border rounded-lg p-2 w-full"
          formControlName="salary"
          required
        />
      </div>
      <div class="mb-4">
        <label for="address" class="block text-sm font-medium">Address</label>
        <input
          type="text"
          id="address"
          class="border rounded-lg p-2 w-full"
          formControlName="address"
          required
        />
      </div>
      <div class="mb-4">
        <label for="contactNumber" class="block text-sm font-medium"
          >Contact Number</label
        >
        <input
          type="tel"
          id="contactNumber"
          formControlName="contactNumber"
          class="border rounded-lg p-2 w-full"
          required
        />
      </div>
      <div class="flex justify-end">
        <button
          type="button"
          (click)="closeModal()"
          class="mr-2 bg-gray-300 text-black py-2 px-4 rounded"
        >
          Cancel
        </button>
        <button type="submit" class="bg-blue-500 text-white py-2 px-4 rounded">
          Submit
        </button>
      </div>
    </form>
  </div>
</div>
