.sort-arrow {
  display: inline flow-root list-item;
    width: 7px;
    height: 10px;
    margin-left: 2px;
    background-color: white;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  }
  
  .sort-arrow.asc {
    transform: rotate(0deg);
  }
  
  .sort-arrow.desc {
    transform: rotate(180deg);
  }